  
.center-text {
    text-align: center;
 }

 .center-button{
     align-content: center;
 }
 .card-color{
    background-color: rgb(214, 132, 38); 
}
#text-size{
    font-size: 35px;
    line-height: 40px;
    color: black;
}
#text-color{
    font-size: 25px;
  line-height: 30px;

  color: #51cf08;

  margin: 0;
  
}

.title{
    color: black;
  
  }