<ion-header>
  <ion-toolbar color="primary" >
    <ion-title class="title">Github</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content [fullscreen]="true">
  <ion-card class="cardcolor">
    <ion-button expand="block" margin="10px" size="small" (click)="goHome()" id="text-size"> Home</ion-button>
  </ion-card>
  <div id="container">

    <ion-card class="cardcolor" margin="30px">
      <strong id="text-size">This app was made for the purpose of my college assignment.
        I was aiming to get an app working where you can easily check the top news or your current weather<br>
        i feel as though ive achieved this and have a simple UI<br>
        I found the inital start of coding rather difficult and had a few setbacks and some learning curves<br>
        But with the videos on learnonline, angular.io help and ionicframework.com i was able to get this assignment
        finished.<br>
        I fell like this project has helped me engag more with the material and understand how i can make my own app
        while using api's to get online information.<br>
        Below is a link to my GitHub reposotory so that you can have a look at it for yourself or downlaod it.</strong>
      <br>
    </ion-card>
    <ion-button size="medium" (click)="goToGithub()" id="text-size"> ==> Click here for the project link <==
        </ion-button>
        <br>
        <img src="https://miro.medium.com/max/1200/1*wzEf4qVNT7mUeMIeQWTJbg.jpeg" height="180" width="320"
          (dblclick)=show()>

  </div>




</ion-content>